# hehehehhehehereheheheheheheh

venv/*



### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm




### Audio ###
*.aif
*.iff
*.m3u
*.m4a
*.mid
*.mp3
*.mpa
*.ra
*.wav
*.wma
*.ogg
*.flac





### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
